body.error404 { background-image: linear-gradient(to right, #2f002e0f 0%, #2f002e99 100%) }
body.error404 > .error-content {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
}
.error404 .mini-text {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 0;
    color: #423f3f;
}
.error404 .img-cartoon { width: 170px; height: 170px; }
.error404 .error-number {
  font-size: 170px;
  color: #423f3f;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 15px;
}
.error404 .error-text { font-size: 20px; color: #423f3f; }
.error404 a.btn {
  width: 205px;
  padding: 11px;
  font-size: 20px;
background-image: linear-gradient(to right, #f7c60f 0%, #f7c60f 100%);
  border: none;
}
.error404 a.btn:hover, .error404 a.btn:not(:disabled):not(.disabled):active { background-image: linear-gradient(to right, #f7c60f 0%, #1f1a17c4 100%) }